{{page-title "EmberQuickstart"}}

{{!-- The following component displays Ember's default welcome message. --}}
<h1>This is what I want to see happen</h1>
{{!-- Feel free to remove this! --}}

{{outlet}}